@charset "utf-8";
*{margin:0;padding:0}
body{font-size:14px;line-height:1.5;color:#555}
h1,h2,h3,h4,h5,h6{text-align:left}
ul,li{list-style:none}
button,label{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
hr{display:none}
#wrapper{padding:0 10px}
.exam_wrap{padding:10px 0}
.exam_wrap h1{margin:5px 0;font-size:1em}
.exam_q {margin:10px 0 ;padding:10px;border:1px solid #ccc;background:#f4f4f4;}
.exam_q:after{display: block;clear:both;content:'';}
.exam_q input {display: block;margin:3px 0;}
.mutipl-box{float:left;margin:0 5px;padding:10px;background:#fff;}
